img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20rem;
}


button.kunupi {
  
  width: 15rem;
  height: 10rem;
  
  
  
}
#button_1 {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: 'Orbitron', sans-serif;
  
}

#button_2 {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: 'Orbitron', sans-serif;
 
  
}


p {
  text-align: center;
  color: teal;
  position: fixed; 
  bottom: 0; 
  width:100%;
  font-family: 'Orbitron', sans-serif;
}