img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
}

#button_1 {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: 'Orbitron', sans-serif;
}

#button_2 {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: 'Orbitron', sans-serif;
  
}


